<lazy-img
  alt="The artwork for the album"
  [src]="
    collection?.attributes?.artwork?.url ?? 'assets/imgs/default.svg'
      | formatArtworkUrl : 500
  "
></lazy-img>
<div class="album-detail">
  <ng-container *ngIf="collection; else placeholder">
    <h3>{{ collection?.attributes?.name }}</h3>
    <h3 class="name">
      <ion-text color="primary">{{
        collection?.attributes?.artistName
          ? collection.attributes.artistName
          : collection.attributes.curatorName
      }}</ion-text>
    </h3>
    <p>
      <ion-note *ngIf="collection?.attributes?.description" id="editorial-notes">
        {{ collection.attributes.description.standard }}
      </ion-note>
      <ion-note *ngIf="!collection.attributes.descript && collection.attributes.genreNames">
        {{collection.attributes?.genreNames[0] }}
      </ion-note>
    </p>
    <p
      class="editorial-notes"
      [innerHtml]="collection.attributes.editorialNotes?.standard"
      id="editorial-notes"
    ></p>



    <ion-modal trigger="editorial-notes" [presentingElement]="routerOutlet">
      <ng-template>
        <ion-header>
          <ion-toolbar>
              <ion-title>{{collection.attributes.name}}</ion-title>
            <ion-buttons slot="end">
              <ion-button  color="primary" fill="clear" (click)="dismiss()">Done</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <p
            class="editorial-notes"
            *ngIf="collection.attributes.editorialNotes; else description"
            [innerHTML]="collection.attributes.editorialNotes.standard"
          >
          </p>
          <ng-template #description >
              <p [innerHTML]="collection.attributes.description.standard"></p>
          </ng-template>
        </ion-content>
      </ng-template>
    </ion-modal>


  </ng-container>

  <ng-template #placeholder>
    <h3>
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
    </h3>
    <p>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    </p>
    <p>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </p>
  </ng-template>

  <ion-buttons>
  <ion-button (click)="togglePlay()" color="light" fill="solid">
    <ion-icon color="primary" slot="start" name="play"></ion-icon>
    <ion-text color="primary">Play</ion-text>
  </ion-button>
  <ion-button (click)="togglePlay(true)" color="light" fill="solid">
    <ion-icon color="primary" name="shuffle" slot="start"></ion-icon>
    <ion-text color="primary">Shuffle</ion-text>
  </ion-button>
  </ion-buttons>
</div>


