:host {
  padding: 16px 16px 24px 16px;
  display: grid;
  grid-template-columns: 40% 60%;
  /* overflow: hidden; */
  align-items: center;
  justify-content: flex-start;
}
ion-toolbar {
  --background: transparent;
  color: #ffffff;

  ion-title {
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-padding-end: 0;
    padding-inline-end: 0;
  }
}

lazy-img {
  margin: 24px;
  height: 100%;
  aspect-ratio: 1/1;
  max-width: 324px;
  max-height: 324px;
  clip-path: inset(0 round 6px);
  overflow: hidden;
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
  margin: auto;
}

.album-detail {
  padding: 0 16px;
  z-index: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  h3,
  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p.editorial-notes {
    overflow: unset;
    text-overflow: unset;
    color: var(--ion-color-step-600, #666666);
    font-size: 14px;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: break-spaces;
  }
  h3 {
    font-weight: 800;
  }
  .name {
    font-weight: bold;
  }
  ion-button {
    width: 50%;
  }
}
@media (max-width: 650px) {
  :host,
  .album-info {
    display: block;
    text-align: center;
    height: auto;
  }
  lazy-img {
    max-width: 200px;
    max-height: 200px;
  }
  .header-artwork {
    margin: auto;
  }
  .album-detail {
    width: 100%;
  }
}
