:host {
  display: block;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  background-position: center center;
}
ion-toolbar {
  --background: transparent;
  color: #ffffff;

  ion-title {
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-padding-end: 0;
    padding-inline-end: 0;
  }
}
.artwork-header {
  display: flex;
  backdrop-filter: blur(12px);
  overflow: hidden;
  height: 300px;
  align-items: center;
  justify-content: flex-start;
}
.artwork-bg {
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: 0;
  opacity: 0.8;
  filter: brightness(25%);
}
.album-info {
  display: flex;
  align-items: center;
  padding-left: var(--ion-safe-area-left);
  z-index: 1;
  overflow: hidden;
}
.header-artwork {
  border-radius: 4px;
  display: block;
  height: 200px;
  width: 200px;
  min-width: 200px;
  margin: 0 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.album-detail {
  padding: 0 16px;
  z-index: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  h3,
  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  h3 {
    font-weight: 800;
  }
  .name {
    font-weight: bold
  }
}
@media (max-width: 650px) {
  .header-artwork {
    display: none;
  }
}
