<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/search"></ion-back-button>
    </ion-buttons>
    <ion-title>{{track?.trackName}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFavorites()">
        <ion-icon slot="icon-only" [name]="favoriteIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col size="12" sizeSm="10" pushSm="1">
          <app-music-card [@enterAnimation] *ngIf="track;else placeholder" #musicCard [track]="track"></app-music-card>
          <ng-template #placeholder>
            <app-music-card-placeholder></app-music-card-placeholder>
          </ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
