:host {
    position: relative;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    contain: layout size style;
    margin: 0 !important;
    padding: 0 !important;
}