<svg class="audio-bars" viewBox="0 0 11 11">
  <defs>
    <rect id="bar" x="0" width="2.1" y="0" height="11" rx=".25"></rect>
    <mask id="bar-mark">
      <use href="#bar" fill="white"></use>
    </mask>
  </defs>
  <g mask="url(#bar-mark)">
    <use class="animated-bar bar-1" href="#bar"></use>
  </g>
  <g mask="url(#bar-mark)" transform="translate(2.9668 0)">
    <use class="animated-bar bar-2" href="#bar"></use>
  </g>
  <g mask="url(#bar-mark)" transform="translate(5.9333 0)">
    <use class="animated-bar bar-3" href="#bar"></use>
  </g>
  <g mask="url(#bar-mark)" transform="translate(8.8999 0)">
    <use class="animated-bar bar-4" href="#bar"></use>
  </g>
</svg>
