:host {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
  transform-origin: center center;
  position: relative;
  --lazy-transition-duration: var(--thumbnail-transition-duration, 250ms);
  --lazy-transition-property: var(--thumbnail-transition-property, transform);
  --lazy-transition-timing-function: var(
    --thumbnail-transition-timing-function,
    cubic-bezier(0.42, 0, 0.58, 1.24)
  );

  .shadow {
    // display: none;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    border-radius: 6px;
    top: 0;
    z-index: -1;
    transition: var(--lazy-transition-property) var(--lazy-transition-duration)
      var(--lazy-transition-timing-function);

    &.shadow_1 {
      transform: scale3d(0.95, 1, 1) translate3d(0, 4px, 0);
      background: rgba(0, 0, 0, 0.2);
      filter: blur(6px);
    }
    &.shadow_2 {
      transform: scale3d(1.03, 1, 1) translate3d(0px, 27px, 0);
      background: rgba(0, 0, 0, 0.14);
      filter: blur(38px);
    }
    &.shadow_3 {
      transform: scale3d(1.07, 1.05, 1) translate3d(0px, 7px, 0);
      background: rgba(0, 0, 0, 0.12);
      border-radius: 17px;
      filter: blur(20px);
    }
  }

  lazy-img {
    clip-path: inset(0 round 4%);
    overflow: hidden;
    border-radius: 4%;
    transform-origin: center center;
    transform: scale3d(1, 1, 1);
    transition: var(--lazy-transition-property) var(--lazy-transition-duration)
      var(--lazy-transition-timing-function);
  }

  &.paused {
    lazy-img {
      transform: scale3d(0.75, 0.75, 0.75);
    }
    .shadow {
      transform: scale3D(0.7, 0.7, 0.7) translate(0);
    }
  }
}

// lazy-img {
//   animation: animateShadow 3s infinite;
// }
// @keyframes animateShadow {
//   0%,
//   100% {
//     box-shadow: 0 2px 1px -1px rgba(0,0,255,0.2),
//                 0 1px 1px 0 rgba(0,0,255,0.14),
//                 0 1px 3px 0 rgba(0,0,255,0.12);
//   }
//   50% {
// box-shadow: 0 11px 15px -7px rgba(0,0,255, 0.2),
//             0 24px 38px 3px rgba(0,0,255, 0.14),
//             0 9px 46px 8px rgba(0,0,255, 0.12);
//   }
// }

// lazy-img::after {
//   content: '';
//   height: 100%;
//   width: 100%;
//   background: rgba(0,0,255,.12);
//   position: absolute;
//   border-radius: 12px;
//   top: 0;
//   z-index: -1;
//   filter: blur(12px);
//   transform: scale3d(0.9, 0.9, 0.9);
//   transform: scale3d(1.1, 1.1, 1.1) translate3d(0, 12px, 0);
// }
// @keyframes pseudoEl {
//   0%, 100% {
//     transform: scale3d(0.9, 0.9, 0.9) translate3d(0, 0px, 0);
//   }
//   50% {
//     transform: scale3d(1.1, 1.1, 1.1) translate3d(0, 12px, 0);
//   }
// }

@media (orientation: portrait) {
  // .track-wrapper.animation-start {
  //     :host.paused {
  //       lazy-img { transform: scale3d(1,1,1) !important; }
  //     }
  // }

  .queue-active {
    :host {
      --lazy-transition-duration: 0;
      .shadow {
        display: none;
      }

      // lazy-img {
      //   transform: scale3d(1, 1, 1);
      // }
      //
      &.paused {
        lazy-img {
          transform: scale3d(1, 1, 1);
        }
      }
    }
  }
}
