:host {
  display: block;
  width: 100%;
  height: auto;
  background: transparent;

  &::after {
    content: '';
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    border-radius: 12px;
    top: 0;
    z-index: -1;
    filter: blur(12px);
    transform: scale3d(0.9, 0.9, 0.9) translate3d(0, 18px, 0);
  }

  &.playing {
    &::after {
      transform: scale3d(1.02, 1.02, 1.02) translate3d(0, 18px, 0);
    }
  }
}
lazy-img {
  clip-path: inset(0 round 4%);
  overflow: hidden;
}

.queue-active :host.playing::after {
    transform: scale3d(0.9, 0.9, 0.9) translate3d(0, 18px, 0);
}
