:host {
  display: block;
  width: 100%;
  height: auto;
  background: transparent;

  &::after {
    content: '';
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    border-radius: 12px;
    top: 0;
    z-index: -1;
    filter: blur(12px);
    transform: scale3d(1.02, 1.02, 1.02) translate3d(0, 18px, 0);
    transition: all 500ms cubic-bezier(0.42, 0, 0, 1.93);
  }

  &.paused {
    &::after {
      transform: scale3d(0.9, 0.9, 0.9) translate3d(0, 18px, 0);
    }
  }
}






// :host {
//   animation: animateShadow 3s infinite;
// }
// @keyframes animateShadow {
//   0%,
//   100% {
//     box-shadow: 0 2px 1px -1px rgba(255,0,0,1),
//                 0 1px 1px 0 rgba(255,0,0,1),
//                 0 1px 3px 0 rgba(255,0,0,1);
//   }
//   50% {
//     box-shadow: 0 11px 15px -7px rgba(255,0,0,1),
//                 0 24px 38px 3px rgba(255,0,0,1),
//                 0 9px 46px 8px rgba(255,0,0,1);
//   }
// }

// :host::after {
//   content: '';
//   height: 100%;
//   width: 100%;
//   background: rgba(255, 0, 0, 1);
//   position: absolute;
//   border-radius: 12px;
//   top: 0;
//   z-index: -1;
//   filter: blur(12px);
//   transform: scale3d(0.9, 0.9, 0.9);
//   animation: pseudoEl 3s infinite;
// }
// @keyframes pseudoEl {
//   0%, 100% {
//     transform: scale3d(0.9, 0.9, 0.9) translate3d(0, 0px, 0);
//   }
//   50% {
//     transform: scale3d(1.05, 1.05, 1.05) translate3d(0, 12px, 0);
//   }
// }


lazy-img {
  clip-path: inset(0 round 4%);
  overflow: hidden;
}


@media (orientation: portrait) {
  .queue-active :host.playing::after {
    opacity: 0;
  }
}
