:host {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
  transform-origin: center center;
  position: relative;

  --lazy-img-transition: transform 250ms cubic-bezier(0.42, 0, 0.58, 1);

  .shadow {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    border-radius: 12px;
    top: 0;
    z-index: -1;
    filter: blur(12px);
    transition: var(--lazy-img-transition);

    &.shadow_1 {
      transform: scale3d(0.9, 1.02, 1.02) translate3d(0, 8px, 0);
      background: rgba(0, 0, 0, 0.2);
    }
    &.shadow_2 {
      transform: scale3d(1.01, 1, 1) translate3d(0px, 27px, 0);
      background: rgba(0, 0, 0, 0.14);
    }
    &.shadow_3 {
      transform: scale3d(1, 1.01, 1) translate3d(0px, 13px, 0);
      background: rgba(0, 0, 0, 0.12);
    }
  }

  lazy-img {
    clip-path: inset(0 round 4%);
    overflow: hidden;
    border-radius: 4%;
    transform-origin: center center;
    transform: scale3d(1, 1, 1);
    transition: var(--lazy-img-transition);
    // transition: transform 500ms ease-in;
  }

  &.paused {
    lazy-img {
      transform: scale3d(0.75, 0.75, 0.75);
    }
    .shadow {
      transform: scale3D(0.6, 0.6, 0.6) !important;
    }
  }
}




// lazy-img {
//   animation: animateShadow 3s infinite;
// }
// @keyframes animateShadow {
//   0%,
//   100% {
//     box-shadow: 0 2px 1px -1px rgba(255,0,0,1),
//                 0 1px 1px 0 rgba(255,0,0,1),
//                 0 1px 3px 0 rgba(255,0,0,1);
//   }
//   50% {
//     box-shadow: 0 11px 15px -7px rgba(255,0,0,1),
//                 0 24px 38px 3px rgba(255,0,0,1),
//                 0 9px 46px 8px rgba(255,0,0,1);
//   }
// }




// lazy-img::after {
//   content: '';
//   height: 100%;
//   width: 100%;
//   background: rgba(255, 0, 0, 0.8);
//   position: absolute;
//   border-radius: 12px;
//   top: 0;
//   z-index: -1;
//   filter: blur(12px);
//   transform: scale3d(0.9, 0.9, 0.9);
//   animation: pseudoEl 3s infinite;
// }
// @keyframes pseudoEl {
//   0%, 100% {
//     transform: scale3d(0.9, 0.9, 0.9) translate3d(0, 0px, 0);
//   }
//   50% {
//     transform: scale3d(1.5, 1.5, 1.5) translate3d(0, 12px, 0);
//   }
// }


@media (orientation: portrait) {
  .queue-active {
    :host {
      .shadow {
        opacity: 0;
      }
    }
    :host(.paused) {
      lazy-img {
        transform: scale3d(1, 1, 1) !important;
      }
      .shadow {
        transform: scale3d(0.8, 1, 1) translate3d(0, 0, 0) !important;
      }
    }
  }
}
