<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/browse"></ion-back-button>
    </ion-buttons>
    <ng-container>
      <ion-buttons slot="end">
        @if(canShare){
        <ion-button color="primary" (click)="share()">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-button>
        }
        <ion-button (click)="addToLibrary()" color="primary">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ng-container>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar></ion-toolbar>
  </ion-header>

  @if(collection()){
  <preview-header
    [collection]="collection()"
    (playCollection)="playAlbum($event)"
  ></preview-header>
  <hr>
  
  <ion-list>
    @for( song of collection().relationships.tracks.data; let i = $index; track
    song.id ){
    <song-item
      [song]="song"
      [index]="song.attributes.trackNumber"
      [disabled]="!song.attributes.releaseDate"
      (onClick)="playSong(song, i)"
    >
      @if(collection().type === 'playlists'){
      <ion-thumbnail slot="start">
        <lazy-img
          [src]="song.attributes.artwork.url | formatArtworkUrl: 60"
          alt=""
        />
      </ion-thumbnail>
      }
    </song-item>
    }
  </ion-list>
  } @else if(hasError()){
  <error-emoji class="ion-text-center ion-padding" />
  } @else {
  <preview-header></preview-header>
  <ion-list>
    @for(filler of [0,1,2,3,4,5,6,7,8,9,10]; track filler){ <song-item /> }
  </ion-list>
  }
</ion-content>
