:host {
  hr {
    background: var(--ion-color-step-250);
    height: 0.55px;
    width: 98%;
    margin-right: 0;
  }
  ion-content ion-toolbar {
    --min-height: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-start: 0;
    --padding-end: 0;
    --padding-end: 0;
    padding-top: 0 !important;
  }
}
