:host {
  hr {
    background: var(--ion-item-border-color, 
        var(--ion-border-color, 
          var(--ion-color-step-150, rgba(0, 0, 0, 0.13)
          )
        )
      );


    height: 0.55px;
    width: 98%;
    margin-right: 0;
  }
  ion-content ion-toolbar {
    --min-height: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-start: 0;
    --padding-end: 0;
    --padding-end: 0;
    padding-top: 0 !important;
  }
}
