<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/browse"></ion-back-button>
    </ion-buttons>
    <ng-container *ngrxLet="state$ as state">
      <ion-title> {{state.collection?.attributes.name}} </ion-title>
      <ion-buttons slot="end">
        <ion-button color="primary" *ngIf="state.canShare" (click)="share()">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ng-container>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ng-container *ngrxLet="state$ as state">
    <ng-container *ngIf="state.collection">
      <preview-header
        [collection]="state.collection"
        (play)="playAlbum($event)"
      ></preview-header>
      <ion-list>
        <song-item
          *ngFor="let song of state.collection.relationships.tracks.data; let i = index"
          [song]="song"
          [index]="i"
          (click)="playSong(i)"
        >
        </song-item>
      </ion-list>
    </ng-container>
    <div class="ion-text-center ion-padding" *ngIf="state.isLoading">
      <ion-spinner></ion-spinner>
    </div>
    <error-emoji
      class="ion-text-center ion-padding"
      *ngIf="state.isError"
    ></error-emoji>
  </ng-container>
</ion-content>
