<ion-split-pane>
  <ion-menu>
    <ion-header>
      <ion-toolbar color="success">
        <ion-title>Favorites</ion-title>
      </ion-toolbar>
    </ion-header>
    <app-menu-list></app-menu-list>

    <!-- <ion&#45;footer> -->
    <!--   <ion&#45;toolbar transparent> -->
    <!--     <ion&#45;buttons slot="start"> -->
    <!--       <ion&#45;button round="true" (click)="toggleDark()"> -->
    <!--         <ion&#45;icon color="dark" slot="icon&#45;only" name="moon"></ion&#45;icon> -->
    <!--       </ion&#45;button> -->
    <!--     </ion&#45;buttons> -->
    <!--   </ion&#45;toolbar> -->
    <!-- </ion&#45;footer> -->
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-split-pane>
