:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}
img {
  position: absolute;
  height: 150%;
  max-width: unset;
  aspect-ratio: 1/1;
  transform: rotateZ(0deg) translate3d(0, 0, 0);
  transform-origin: center center;
  // animation: rotateBg 105s linear infinite;
  filter: brightness(85%) saturate(95%) contrast(0.9) blur(180px);
}
.next {
  z-index: 1;
}

.current {
  z-index: 0;
}
@keyframes rotateBg {
  0%, 23% { transform: rotateZ(0deg); }
  75%, 100% { transform: rotateZ(360deg); }
}
