<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <form [formGroup]="searchForm">
      <ion-searchbar
        placeholder="Artists, Songs, Lyrics, and More"
        formControlName="search"
        showCancelButton="focus"
        animated="true"
        (ionClear)="searchClearTrigger$.next()"
      >
      </ion-searchbar>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngrxLet="state$ as state">
    <div class="ion-text-center ion-padding" *ngIf="state.isLoading">
      <ion-spinner></ion-spinner>
    </div>
    <error-emoji
      class="ion-text-center ion-padding"
      *ngIf="state.hasError"
    ></error-emoji>
    <ion-list>
      <ion-item-group *ngIf="state.collection.songs as songs">
        <ion-item-divider [sticky]="true">
          <ion-label>
            Songs
          </ion-label>
        </ion-item-divider>
        <song-item
          *ngFor="let song of songs; let i = index"
          [song]="song"
          (click)="playSong(i)"
        ></song-item>
      </ion-item-group>
      <ion-item-group *ngIf="state.collection.albums as albums">
        <ion-item-divider [sticky]="true">
          <ion-label>
            Albums
          </ion-label>
        </ion-item-divider>
        <song-item
          *ngFor="let album of albums"
          [song]="album"
          [routerLink]="['/album', album.id]"
        ></song-item>
      </ion-item-group>
      <ion-item-group *ngIf="state.collection.playlists as playlists">
        <ion-item-divider [sticky]="true">
          <ion-label>
            Playlists
          </ion-label>
        </ion-item-divider>
        <song-item
          *ngFor="let playlist of playlists"
          [song]="playlist"
          [routerLink]="['/playlist', playlist.id]"
        ></song-item>
      </ion-item-group>
    </ion-list>
  </ng-container>
</ion-content>
