ion-segment {
  background: rgba(var(--ion-background-color-rgb), 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  position: sticky;
  top: 0px;
  z-index: 101;
  justify-content: center;
  width: 100%;

  ion-segment-button {
    min-width: unset;
    &.ios {
      --background-checked: transparent;
      --indicator-color: var(--ion-color-primary);
      &::before {
        display: none;
      }
      &::part(indicator) {
        width: 80%;
        margin: auto;
      }
      &::part(indicator-background) {
        border-radius: 24px;
      }
    }

  }
}
