<ion-item button="true">
  <ng-content></ng-content>
  <ion-text color="primary" slot="start" *ngIf="index !== null">
    <p class="index">{{ index + 1 }}</p>
  </ion-text>

  <ng-container *ngIf="song; else placeholder">
    <ion-label>
      <h3>{{ song.attributes.name }}</h3>
      <ion-note *ngIf="song.attributes.artistName">
        <p>{{ song.attributes.artistName }}</p>
      </ion-note>
    </ion-label>
    <p
      slot="end"
      class="rating"
      *ngIf="song.attributes.contentRating === 'explicit'"
    >
      E
    </p>
    <ion-note slot="end" *ngIf="song.attributes.durationInMillis">{{
      song.attributes.durationInMillis | msToMins
    }}</ion-note>
  </ng-container>
</ion-item>

<ng-template #placeholder>
  <ion-label>
    <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  </ion-label>
</ng-template>
