:host {
  display: block;
  &:hover {
    cursor: pointer;
  }
  ion-item {
    &:not(.has-index) {
      --padding-top: 0;
      --padding-bottom: 0;
      --padding-start: 0;
      --padding-end: 0;
    }
    --background: transparent;
  }
  ion-thumbnail {
    margin-inline-end: 15px;
  }
  ion-label {
    color: currentColor;
    h3,
    ion-note * {
      overflow: hidden;
      text-overflow: ellipsis;

    }

  }
  .index {
    width: 22px;
    font-variant-numeric: tabular-nums;
    text-align: center;
  }
  ion-note {
    font-variant-numeric: tabular-nums;
    color: currentColor;
  }
  .rating {
    background: #aaa;
    color: #fff;
    width: 12px;
    text-align: center;
    height: 12px;
    font-weight: 300;
    border-radius: 3px;
    font-size: 9px;
  }
}
:host(.active) {
  ion-item {
    --background: #ffffff1c;
  }
}
