ion-footer.mh-footer {
  position: absolute;
  bottom: 0;
  .footer-background {
    z-index: -1 !important;
  }
}
ion-list {
  padding-left: 10px;
  padding-right: 10px;
}
ion-item {
  margin: 10px 0;
  // --background-hover:
  --border-radius: 8px;
}
img {
  object-fit: cover;
}
.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.8);
  color: white;
  font-weight: 700;
  --color-hover: white;
  ion-icon {
    color: white;
  }
}

ion-split-pane {
  overflow: hidden;
}
.split-pane-md.split-pane-visible > .split-pane-side {
  max-width: 375px;
}

