<ion-app>
  <ion-split-pane when="(min-width: 850px)" contentId="main">
    <ion-menu contentId="main">
      <ion-header translucent="true">
        <ion-toolbar>
          <ion-title>Music</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content fullscreen="true">
        <ion-header collapse="condense">
          <ion-toolbar class="transparent">
            <ion-title size="large">Music</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-list lines="none">
          <ion-item-group>
            <ion-menu-toggle autoHide="false">
              <ion-item
                routerLink="/browse"
                routerDirection="root"
                routerLinkActive="selected"
                detail="false"
              >
                <ion-icon
                  color="primary"
                  name="grid-outline"
                  slot="start"
                ></ion-icon>
                Browse
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle autoHide="false">
              <ion-item
                routerLink="/search"
                routerDirection="root"
                routerLinkActive="selected"
                detail="false"
              >
                <ion-icon color="primary" name="search" slot="start"></ion-icon>
                Search
              </ion-item>
            </ion-menu-toggle>
          </ion-item-group>

          <ion-item-group *rxLet="isAuthorized; let isAuth">
            <ng-container *ngIf="isAuth">
              <ion-item-divider>
                <ion-label>Library</ion-label>
              </ion-item-divider>

              <ion-menu-toggle autoHide="false">
                <ion-item
                  routerLink="/library/albums"
                  routerDirection="root"
                  routerLinkActive="selected"
                  detail="false"
                >
                  <ion-icon
                    color="primary"
                    slot="start"
                    name="albums"
                  ></ion-icon>
                  Albums
                </ion-item>
              </ion-menu-toggle>

              <ion-menu-toggle autoHide="false">
                <ion-item
                  (click)="logout()"
                  lines="none"
                  button="true"
                  detail="false"
                >
                  <ion-icon
                    color="primary"
                    slot="start"
                    name="log-out"
                  ></ion-icon>
                  Log Out
                </ion-item>
              </ion-menu-toggle>
            </ng-container>
            <ng-container *ngIf="!isAuth">
              <ion-menu-toggle autoHide="false">
                <ion-item
                  (click)="login()"
                  lines="none"
                  button="true"
                  detail="false"
                >
                  <ion-icon
                    color="primary"
                    slot="start"
                    name="log-in"
                  ></ion-icon>
                  Log In
                </ion-item>
              </ion-menu-toggle>
            </ng-container>
          </ion-item-group>

          <ion-item>item 01</ion-item>
          <ion-item>item 02</ion-item>
          <ion-item>item 03</ion-item>
          <ion-item>item 04</ion-item>
          <ion-item>item 05</ion-item>
          <ion-item>item 06</ion-item>
          <ion-item>item 07</ion-item>
          <ion-item>item 08</ion-item>
          <ion-item>item 09</ion-item>
          <ion-item>item 10</ion-item>
          <ion-item>item 11</ion-item>
          <ion-item>item 12</ion-item>
          <ion-item>item 13</ion-item>
          <ion-item>item 14</ion-item>
          <ion-item>item 15</ion-item>
          <ion-item>item 16</ion-item>
          <ion-item>item 17</ion-item>
          <ion-item>item 18</ion-item>
          <ion-item>item 19</ion-item>
          <ion-item>item 20</ion-item>
          <ion-item>item 21</ion-item>
          <ion-item>item 22</ion-item>
          <ion-item>item 23</ion-item>
          <ion-item>item 24</ion-item>
          <ion-item>item 25</ion-item>
          <ion-item>item 26</ion-item>
          <ion-item>item 27</ion-item>
          <ion-item>item 28</ion-item>
          <ion-item>item 29</ion-item>
          <ion-item>item 30</ion-item>
          <ion-item>item 31</ion-item>
          <ion-item>item 32</ion-item>
          <ion-item>item 33</ion-item>
          <ion-item>item 34</ion-item>
          <ion-item>item 35</ion-item>
          <ion-item>item 36</ion-item>
          <ion-item>item 37</ion-item>
          <ion-item>item 38</ion-item>
          <ion-item>item 39</ion-item>
          <ion-item>item 40</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <div id="main" class="route-wrapper">
      <ion-router-outlet></ion-router-outlet>
      <track-player></track-player>
    </div>
  </ion-split-pane>
</ion-app>
