:host {
  display: block;
  position: relative;
}
.track-img {
  transform: scale3d(0.8, 0.8, 0.8);
  max-width: 400px;
  width: 100%;
  padding-bottom: 100%;
  margin: auto;
  border-radius: 15px;

  img {
    border-radius: 15px;
    position: absolute;
  }
}
.item-md,
.item-ios {
  background-color: transparent;
}

.fake-text {
  background: linear-gradient(to right, lightgray, white, lightgray);
  animation: skeleton 2s infinite;
  animation-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);

  background-size: 800px 104px;

  background-repeat: no-repeat;

  background-color: lightgray;

  opacity: 0.5;
  height: 1em;
}

h2.fake-text {
  height:  16px;
  max-width: 250px;
}
h3.fake-text {
  height: 14px;
  max-width: 200px;
}
p.fake-text {
  height: 14px;
  max-width: 150px;
}
@keyframes skeleton {
  0% {
    background-position-x: 115%;
  }
  100% {
    background-position-x: -115%;
  }
}
