<ion-card>
  <ion-grid no-padding>
    <ion-row align-items-center>
      <ion-col col-12 col-md-5>
        <div class="track-img">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
        </div>
      </ion-col>
      <ion-col>
        <ion-card-content>
          <ion-card-title>
            <h2 class="fake-text"></h2>
          </ion-card-title>

          <ion-label>
            <h3 class="fake-text"></h3>
            <p class="fake-text"></p>
          </ion-label>

          <ion-grid>
            <ion-row>
              <ion-col col-3>
                <ion-fab-button mini color="light">
                  <ion-icon name="play" color="success"></ion-icon>
                </ion-fab-button>
              </ion-col>
              <ion-col col-9>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
        <ion-item>
          <p>Track Duration</p>
          <ion-badge slot="end" color="light">
            0:00
          </ion-badge>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
