:host {
  display: block;
  position: relative;
}

.track-img {
  border-radius: 15px;
  margin: auto;
  max-width: 400px;
  transform: scale3d(0.8, 0.8, 0.8);
  width: 100%;

  img {
    border-radius: 15px;
  }
}

.item-md,
.item-ios {
  background-color: transparent;
}

.fake-text {
  animation: skeleton 2s infinite;
  animation-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);
  background: linear-gradient(to right, lightgray, white, lightgray);
  background-color: lightgray;
  background-repeat: no-repeat;
  background-size: 800px 104px;
  height: 1em;
  opacity: 0.5;
}

h2.fake-text {
  height: 16px;
  max-width: 250px;
}

h3.fake-text {
  height: 14px;
  max-width: 200px;
}

p.fake-text {
  height: 14px;
  max-width: 150px;
}

@keyframes skeleton {
  0% {
    background-position-x: 115%;
  }

  100% {
    background-position-x: -115%;
  }
}
