<ion-card>
  <ng-content></ng-content>
</ion-card>
<ion-label>
  @if(album){
    <h3>
      @if(index != null){<span class="index">{{ index + 1 }}</span>}
      <span>{{ album.attributes.name }}</span>
      @if(album.attributes.contentRating === 'explicit'){ <span class="rating">E</span > }
    </h3>
    <ion-note>
      <p>{{ album.attributes.artistName }}</p>
    </ion-note>
  }
  @else{
    <ion-skeleton-text animated style="width: 88%; height: 16px;" />
    <ion-skeleton-text animated style="width: 70%; height: 14px;" />
  }
</ion-label>
