<ion-card>
  <ng-content></ng-content>
</ion-card>
<ion-label>
  <ng-container *ngIf="album; else placeholder">
    <h3>
      <span class="index">{{ index + 1 }}</span> {{ album.attributes.name }}
      <span class="rating" *ngIf="album.attributes.contentRating === 'explicit'"
        >E</span
      >
    </h3>
    <ion-note>
      <p>{{ album.attributes.artistName }}</p>
    </ion-note>
  </ng-container>

  <ng-template #placeholder>
    <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
  </ng-template>
</ion-label>
