<div class="queue-header">
  <h3>
    <ion-text color="white">Playing Next</ion-text>
  </h3>
  <ng-content></ng-content>
</div>

<div class="queue-scroller" [@listAnimation]="queue().length">
  @for(song of queue(); let i = $index; track song.id){
  <song-item
    [style.--travel-distance]="i"
    color="white"
    [song]="song"
    (click)="playAt.emit({$event, song})"
  >
    <ion-thumbnail slot="start">
      <lazy-img
        [src]=" song.attributes.artwork?.url ?? 'assets/imgs/default.svg' | formatArtworkUrl : 60 "
        alt="album art"
      ></lazy-img>
    </ion-thumbnail>
  </song-item>
  }
</div>
