:host {
  display: none;
  song-item {
    --text-color: #fff;
    --item-border-color: #fff;
    --padding-begin: 0;
    ion-item {
      --padding-start: 0;
    }
  }

  .queue-scroller {
    flex: 1;
    overflow: auto;
    overscroll-behavior-y: none;
  }
}
:host(.player-queue-portrait) {
  width: 100%;
  z-index: -1;

  .queue-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    p {
      margin: 0;
      font-weight: bold;
    }

    ion-badge {
      top: 3px;
      right: -3px;
    }
  }
}
:host(.player-queue-landscape) {
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 55%;
  padding: 0 16px;
}

@media (min-width: 600px) {
  .toggle-buttons {
    display: none;
  }
}
