:host {
  border-top-width: 0.55px;
  border-top-color: rgba(var(--ion-background-color-rgb), 0.2);
  border-top-style: solid;
  min-height: calc(var(--ion-safe-area-bottom) + 58px);
  padding: 4px calc(16px + var(--ion-safe-area-left));
  background-color: rgba(var(--ion-background-color-rgb), var(--platform-opacity));
  color: #444;
  padding-bottom: var(--ion-safe-area-bottom);

  justify-content: space-between;
  display: grid;
  grid-template-columns: minmax(200px, 30%) minmax(auto, 400px) minmax(90px, 30%);
  grid-gap: 10px;
  width: 100%;
}

.song-info {
  display: grid;
  grid-template-columns: 48px auto;
  overflow: hidden;


ion-label {
  padding-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  * {
    overflow: hidden;
    white-space: nowrap;
  }
}
}
ion-range {
  padding-top: 0;
  padding-bottom: 0;
}
.song-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 849px) {
  :host {
    grid-template-columns: minmax(200px, 30%) minmax(auto, 300px) minmax(90px, auto);
  }
}
@media (max-width: 645px) {
  :host {
    grid-template-columns: 50% 50%;
  }
  ion-range {
    display: none;
  }
}
