<ion-footer class="mh-footer" translucent="true">
  <div class="track-wrapper" *rxLet="state$; let state">
    <div class="track-player">
      <div class="song-info">
        <ion-thumbnail>
          <lazy-img
            [src]="state.nowPlayingItem.artworkURL"
            alt="The album art work cover"
          ></lazy-img>
        </ion-thumbnail>
        <ion-label>
          <p>{{ state.nowPlayingItem.title }}</p>
          <ion-note>{{ state.nowPlayingItem.artistName }}</ion-note>
        </ion-label>
      </div>
      <ion-range
        step="1"
        min="0"
        [max]="state.playbackDuration"
        [(ngModel)]="playbackTime"
        (click)="stopProp($event)"
        (ionStart)="pauseSeeking($event)"
        (ionEnd)="seekToTime($event)"
        [disabled]="
          state.playbackDuration === 0 ||
          state.playbackState === playbackStates.NONE ||
          state.playbackState === playbackStates.LOADING ||
          state.playbackState === playbackStates.ENDED ||
          state.playbackState === playbackStates.WAITING ||
          state.playbackState === playbackStates.STALLED
        "
      ></ion-range>
      <ion-buttons class="song-actions">
        <ion-button
          shape="round"
          color="primary"
          fill="clear"
          class="prev-button"
          (click)="prev($event)"
        >
          <ion-icon name="play-back" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button
          shape="round"
          color="primary"
          fill="clear"
          (click)="togglePlay($event)"
        >
          <ion-spinner
            *ngIf="
              state.playbackState === playbackStates.LOADING ||
                state.playbackState === playbackStates.ENDED ||
                state.playbackState === playbackStates.WAITING ||
                state.playbackState === playbackStates.STALLED;
              else buttonTemplate
            "
          ></ion-spinner>
          <ng-template #buttonTemplate>
            <ion-icon
              [name]="
                state.playbackState === playbackStates.PLAYING
                  ? 'pause'
                  : 'play'
              "
              slot="icon-only"
            ></ion-icon>
          </ng-template>
        </ion-button>
        <ion-button
          shape="round"
          color="primary"
          fill="clear"
          (click)="next($event)"
        >
          <ion-icon name="play-forward" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </div>
</ion-footer>
