:host {
  width: 100%;
  height: 100%;
  background-image: url('/assets/imgs/default.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
}

img {
  opacity: 0;
  transition: opacity 250ms ease-in;
  object-fit: cover;
  height: 100%;
}

:host(.loaded) {

  img {
    opacity: 1;
  }
}
