<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/browse"></ion-back-button>
    </ion-buttons>
      <ion-title> {{collection()?.attributes?.name ?? null}} </ion-title>
      <ion-buttons slot="end">
        <ion-button color="primary" *ngIf="canShare" (click)="share()">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
    <ng-container *ngIf="collection(); else isLoading">
      <preview-header
        [collection]="collection()"
        (playCollection)="playPlaylist($event)"
      ></preview-header>
      <ion-list>
        <song-item
          *ngFor="let song of collection().relationships.tracks.data; let i = index"
          [song]="song"
          (click)="playSong(i)"
        >
          <ion-thumbnail slot="start">
            <lazy-img
              [src]="song.attributes.artwork.url | formatArtworkUrl: 60"
              alt=""
            ></lazy-img>
          </ion-thumbnail>
        </song-item>
      </ion-list>
    </ng-container>
    <ng-template #isLoading>
      <preview-header></preview-header>
      <ion-list>
        <song-item *ngFor="let filler of [0,1,2,3,4,5,6,7,8,9,10]">
          <ion-thumbnail slot="start">
            <lazy-img alt=""></lazy-img>
          </ion-thumbnail>
        </song-item>
      </ion-list>
    </ng-template>
  <!---->
  <!--   <error-emoji -->
  <!--     class="ion-text-center ion-padding" -->
  <!--     *ngIf="state.hasError" -->
  <!--   ></error-emoji> -->
  <!-- </ng-container> -->
</ion-content>
