<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/browse"></ion-back-button>
    </ion-buttons>
    <ion-title>{{playlist?.attributes.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="share()" *ngIf="canShare && !isError">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <preview-header [collection]="playlist" (play)="playAlbum($event)"></preview-header>
  <ion-list *ngIf="playlist">
    <song-item *ngFor="let song of playlist.relationships.tracks.data; let i = index" [song]="song" (click)="playSong(i)"></song-item>
  </ion-list>
  <div class="ion-text-center ion-padding" *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </div>
  <error-emoji class="ion-text-center ion-padding" *ngIf="isError"></error-emoji>
</ion-content>
