:host {
  --background: #5a596087;
  background-color: var(--background);
}

.ion-page {
  background-color: var(--background1);
  transition: background 5000ms cubic-bezier(0.32, 0.72, 0, 1);
  z-index: unset;

  /* background: radial-gradient( */
  /*   ellipse at top, */
  /*   var(--background1), */
  /*   var(--background2), */
  /*   var(--background3) */
  /* ); */
  /* background-size: 600% 600%; */
  /* animation: AnimationName 100s ease infinite alternate; */
}

@keyframes AnimationName {
    0%, 100% {background-position:0% 50%}
    50%{background-position:100% 50%}
}

ion-header {
  padding-top: calc(16px + env(safe-area-inset-top));
  &:hover {
    cursor: pointer;
  }
  .dismisser {
    margin: auto;
    border-radius: 8px;
    height: 6px;
    width: 36px;
    background: var(--ion-color-step-100);
  }
}

ion-footer {


  border-top: none;

  &::before {
    content:none;
  }

  ion-toolbar {
    --border-width: 0;
    --padding-start: calc(env(safe-area-inset-left) + 24px);
    --padding-end: calc(env(safe-area-inset-left) + 24px);
  }
}

.track-wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.track-player {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  padding: 30px;
  /* background-color: var(--ion-background-color); */
  z-index: 1;
}

ion-range {
  margin-top: auto;
  display: block;
  width: 100%;
  margin: 0 auto;
  flex: initial;
}

ion-label {
  display: block;
  width: 100%;
  overflow: hidden;
}

ion-label * {
  font-size: 1.3em;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-actions {
  flex: initial;
  justify-content: center;
  height: 56px;

  ion-icon {
    font-size: 30px;
  }
}

.song-info {
  width: 100%;
  flex: 1 1 100%;
  display: grid;
  align-content: space-evenly;
  z-index: 1;

  ion-thumbnail {
    transform-origin: center center;
    display: block;
    width: 100%;
    /* max-width: 342px; */
    height: auto;
    margin: auto;

      /* &::before { */
      /*    content: ""; */
      /*    height: 100%; */
      /*    width: 100%; */
      /*    background: rgba(0, 0, 0, 0.2); */
      /*    position: absolute; */
      /*    top: 0; */
      /*    z-index: -1; */
      /*    filter: blur(12px); */
      /*   transform: scale3d(0.9, 0.9, 0.9); */
      /*    animation: pseudoEl 3s infinite; */
      /*  } */


    &.playing {
      now-playing-artwork {
        transform: scale3d(1, 1, 1);
      }
    }

    now-playing-artwork {
      width: 100%;
      aspect-ratio: 1/1;
      /* clip-path: inset(0 round 4%); */
      /* overflow: hidden; */
      /* border-radius: 4%; */
      transform-origin: center center;
      transform: scale3d(0.85, 0.85, 0.85);
      transition: transform 300ms cubic-bezier(0.42, 0, 0, 1.93);

      /* animation: animateShadow 3s infinite; */

    }
  }
}

@keyframes pseudoEl {
0%, 100% {
    transform: scale3d(0.9, 0.9, 0.9) translate3d(0, 0px, 0);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05) translate3d(0, 12px, 0);
  }
}

@keyframes animateShadow {
  0%,
  100% {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
      0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  }
  50% {
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
      0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  }
}

.player-queue-portrait {
  flex: 1 1 100%;
  width: 100%;
  display: none;
}

.player-queue-landscape {
  display: none;
}

.queue-inner {
  height: 100%;
  width: 100%;
}

.queue-scroller {
  flex: 1;
  overflow: auto;
  overscroll-behavior-y: none
}

.svg-aside {
  width: 20px;
  height: 20px;
}

@media (orientation: portrait) {
  .track-player {
    max-width: 500px;
  }

  .track-wrapper.queue-active {
    .player-queue-portrait {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: hidden;
    }
    .song-info {
      flex: initial;
      margin-top: unset;
      display: grid;
      grid-template-columns: 25% 75%;
      align-items: center;

      ion-thumbnail {
        padding-bottom: 0;
        now-playing-artwork {
          border-radius: 6px;
          transform: scale3d(1, 1, 1);
        }
      }
    }

    ion-label {
      padding-left: 20px;
    }
  }
}

@media (orientation: landscape) {
  .track-player {
    max-width: 500px;
  }

  .track-wrapper.queue-active {
    display: flex;

    .track-player {
      width: 45%;
      height: 100%;
      transform-origin: top left;
    }
    .player-queue-landscape {
      width: 55%;

      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: hidden;
    }
  }
}

ion-button.active {
  background-color: #ffffff1c;
}

song-item ion-item {
  --color: currentColor;
  --background: transparent;
}
