ion-header {
  padding-top: calc(16px + env(safe-area-inset-top));
  &:hover {
    cursor: pointer;
  }
  .dismisser {
    margin: auto;
    border-radius: 8px;
    height: 6px;
    width: 36px;
    background: #eae9e947;
  }
}

ion-footer {
  border-top: none;

  &::before {
    content: none;
  }

  ion-toolbar {
    --border-width: 0;
    --padding-start: calc(env(safe-area-inset-left) + 24px);
    --padding-end: calc(env(safe-area-inset-left) + 24px);
  }
}

.track-wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  padding: 20px;
}

.track-player {
  height: 100%;
  width: 85%;
  max-width: 500px;
  margin: auto;
  z-index: 1;

  display: grid;
  grid-template-rows: 75% 25%;
  grid-template-areas:
    'now-playing'
    'controls';

  .song-info {
    width: 100%;
    grid-area: now-playing;
    z-index: 1;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas: "artwork" "title";
    margin-left: auto;
    margin-right: auto;

    ion-thumbnail {
      transform-origin: center center;
      display: block;
      width: 100%;
      height: auto;
      object-fit: contain;
      margin: auto;
      --thumbnail-transition-duration: 500ms;
      now-playing-artwork {
        aspect-ratio: 1/1;
      }
    }

    ion-label {
      display: block;
      width: 95%;
      overflow: hidden;
      * {
        line-height: 1.2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      h3 {
        font-size: 1.1em;
        font-weight: 600;
      }
      p {
        font-size: 1em;
      }
    }
  }
  queue-list {
    margin-left: auto;
    margin-right: auto;

    grid-area: queue;
    display: none;
  }
  .controls-wrapper {
    width: 95%;
    grid-area: controls;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;

    ion-range {
      margin-top: auto;
      width: 100%;
      margin: 0 auto;
      padding: 0;

      .duration-label {
        width: unset;
        display: unset;
        position: absolute;
        bottom: -15px;
        font-size: 0.75em;
        font-variant-numeric: tabular-nums;
        color: #ffffff;
        &[slot='start'] {
          left: 0;
          text-align: left;
        }

        &[slot='end'] {
          right: 0;
          text-align: right;
        }
      }
    }
  }
}

// shared
ion-badge {
  font-size: 8px;
  position: absolute;
  background: none;
  color: var(--ion-color-step-500) !important;
}

.song-actions {
  flex: initial;
  justify-content: space-evenly;
  height: 56px;
  ion-button {
    width: 70px;
    aspect-ratio: 1/1;
    height: unset;

    ion-icon {
      font-size: 48px;
    }
  }
}

@media (min-width: 320px) {
  .song-actions .shuffle-button,
  .song-actions .repeat-button {
    display: none;
  }
}
@media (min-width: 600px) {
  .song-actions .shuffle-button,
  .song-actions .repeat-button {
    display: unset;
  }

  queue-list .toggle-buttons {
    display: none;
  }
}

.song-actions .shuffle-button,
.song-actions .repeat-button {
  width: 40px;
  ion-icon {
    font-size: 40px;
  }

  ion-badge {
    top: 5px;
    right: -6px;
  }
}

ion-button {
  border-radius: 8px;
  overflow: hidden;
}

ion-button.active {
  background-color: #ffffffcc;
  ion-icon {
    color: var(--ion-color-step-500) !important;
  }
}
.track-wrapper.track-wrapper.queue-active{
    queue-list {
      display: flex;
    }
}

@media (orientation: portrait) {
  .track-wrapper.animation-start {
    ion-thumbnail {
      --thumbnail-transition-duration: 250ms !important;
    }
  }
  .track-wrapper.queue-active {
    .track-player {
      grid-template-rows: 15% 60% 25%;
      grid-template-areas:
        'now-playing'
        'queue'
        'controls';
    }
    .song-info {
      flex: initial;
      align-items: center;
      grid-template-columns: 18% auto;
      grid-gap: 20px;
    }
    queue-list {
      ion-badge {
        top: 3px;
        right: -7px;
      }
    }
  }
}
@media (orientation: landscape) {
  .track-player {
    width: 100%;
    max-width: unset;
    grid-template-columns: 1fr minmax(45%, 500px) 1fr;
    grid-template-areas:
      '. now-playing .'
      '. controls .';
    .song-info,
    .controls-wrapper {
      width: 85%;
      max-width: 500px;
    }
  }

  .track-wrapper.queue-active {
    .track-player {
      grid-template-columns: minmax(45%, 500px) auto;
      grid-template-areas:
        'now-playing queue'
        'controls    queue';
    }
  }
}
