.ion-page {
  background: #5a5960;
}

ion-header {
  padding-top: calc(16px + env(safe-area-inset-top));
  &:hover {
    cursor: pointer;
  }
  .dismisser {
    margin: auto;
    border-radius: 8px;
    height: 6px;
    width: 36px;
    background: #eae9e947;
  }
}

ion-footer {
  border-top: none;

  &::before {
    content: none;
  }

  ion-toolbar {
    --border-width: 0;
    --padding-start: calc(env(safe-area-inset-left) + 24px);
    --padding-end: calc(env(safe-area-inset-left) + 24px);
    --padding-bottom: calc(16px + env(safe-area-inset-bottom));
  }
}

.track-wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}

.track-player {
  position: relative;
  height: 100%;
  width: 80%;
  max-width: 500px;
  margin: auto;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;



.song-info {
  grid-row: 1/2;
  width: 100%;
  z-index: 1;
  display: grid;
  grid-auto-rows: 1fr auto;

  height: 75%;

  ion-thumbnail {
    transform-origin: center center;
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    margin: auto;
    --thumbnail-transition-duration: 500ms;
    now-playing-artwork {
      aspect-ratio: 1/1;
    }
  }

  ion-label {
    display: block;
    width: 100%;
    overflow: hidden;
    * {
      line-height: 1.2;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h3 {
      font-size: 1.1em;
      font-weight: 600;
    }
    p {
      font-size: 1em;
    }
  }
}

.controls-wrapper {
  grid-row: 2/2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25%;

  ion-range {
    margin-top: auto;
    display: block;
    width: 100%;
    margin: 0 auto;
    flex: initial;
    padding: 0;

    .duration-label {
      width: unset;
      display: unset;
      position: absolute;
      bottom: -15px;
      font-size: 0.75em;
      font-variant-numeric: tabular-nums;
      color: #ffffff;
      &[slot='start'] {
        left: 0;
        text-align: left;
      }

      &[slot='end'] {
        right: 0;
        text-align: right;
      }
    }
  }
}
}





// shared
ion-badge {
  font-size: 8px;
  position: absolute;
  background: none;
  color: var(--ion-color-step-500) !important;
}

.song-actions {
  flex: initial;
  justify-content: space-evenly;
  height: 56px;
  ion-button {
    width: 70px;
    aspect-ratio: 1/1;
    height: unset;
  }
  ion-icon {
    font-size: 48px;
  }
}

@media (min-width: 320px) {
  .song-actions .shuffle-button,
  .song-actions .repeat-button {
    display: none;
  }
}
@media (min-width: 600px) {
  .song-actions .shuffle-button,
  .song-actions .repeat-button {
    display: unset;
  }
}

.song-actions .shuffle-button,
.song-actions .repeat-button {
  width: 40px;
  ion-icon {
    font-size: 40px;
  }

  ion-badge {
    top: 5px;
    right: -6px;
  }
}

ion-button {
  border-radius: 8px;
  overflow: hidden;
}

ion-button.active {
  background-color: #ffffffcc;
  ion-icon {
    color: var(--ion-color-step-500) !important;
  }
}

@media (orientation: portrait) {
  .track-wrapper.animation-start {
    ion-thumbnail {
      --thumbnail-transition-duration: 250ms !important
    }
  }  
  .track-wrapper.queue-active {
    .track-player {
      grid-template-rows: 15% 60% 25%;
    }

    .player-queue-portrait {
      height: 60%;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      ion-badge {
        top: 3px;
        right: -7px;
      }
    }
    .song-info {
      height: 15%;
      grid-row: 1/2;
      flex: initial;
      margin-top: unset;
      display: flex;
      justify-content: space-between;
      align-items: center;

      ion-thumbnail {
        width: 18%;
        padding-bottom: 0;
      }
      ion-label {
        padding-left: 20px;
      }
    }
    .controls-wrapper {
      height: 25%;
    }
  }
}

@media (orientation: landscape) {
  .track-player {
    max-width: 500px;
    width: 45%;
    padding: 0 30px;
  }

  .track-wrapper.queue-active {
    display: flex;
    .track-player {
      width: 45%;
      height: 100%;
      transform-origin: top left;
    }
    .player-queue-landscape {
      display: flex;
    }
  }
}

