<div class="ion-page" *rxLet="state$; let state">
  <ion-header (click)="dismiss()" class="ion-no-border">
    <div class="dismisser"></div>
  </ion-header>
  <div class="track-wrapper" #wrapper>
    <div class="track-player">
      <div class="song-info">
        <ion-thumbnail
          [ngClass]="{
            paused:
              state.playbackState === playbackStates.PAUSED ||
              state.playbackState === playbackStates.NONE ||
              state.playbackState === playbackStates.STOPPED
          }"
        >
          <now-playing-artwork
            [src]="
              state.nowPlayingItem.attributes.artwork?.url ??
                'assets/imgs/default.svg' | formatArtworkUrl: 500
            "
            [ngClass]="{
              paused:
                state.playbackState === playbackStates.PAUSED ||
                state.playbackState === playbackStates.NONE ||
                state.playbackState === playbackStates.STOPPED
            }"
            alt="The album art work cover"
          ></now-playing-artwork>
        </ion-thumbnail>

        <ion-label>
          <h3>
            <ion-text color="white">{{
              state.nowPlayingItem.attributes.name ?? 'Not Playing'
            }}</ion-text>
          </h3>
          <p>
            <ion-text color="white">{{
              state.nowPlayingItem.attributes.artistName
            }}</ion-text>
          </p>
        </ion-label>
      </div>

      <div class="player-queue-portrait" *rxLet="queue$; let queue">
        <div class="queue-header">
          <p><ion-text color="white">Playing Next</ion-text></p>
          <ion-buttons class="toggle-buttons">
            <ion-button
              color="white"
              [ngClass]="{ active: state.isShuffling }"
              (click)="toggleShuffle(state.isShuffling)"
            >
              <ion-icon name="shuffle"></ion-icon>
            </ion-button>
            <ion-button
              color="white"
              [ngClass]="{ active: state.repeatMode !== repeatMode.NONE }"
              (click)="toggleRepeatMode()"
            >
              <ion-icon name="repeat"></ion-icon>
              <ion-badge *ngIf="state.repeatMode === repeatMode.ONE"
                >1</ion-badge
              >
            </ion-button>
          </ion-buttons>
        </div>
        <div class="queue-scroller" [@listAnimation]="queue.length">
          <song-item
            color="white"
            *ngFor="let song of queue; let i = index"
            [song]="song"
            (click)="playAtIndex($event, song)"
          >
            <ion-thumbnail slot="start">
              <lazy-img
                [src]="
                  song.attributes.artwork?.url ?? 'assets/imgs/default.svg'
                    | formatArtworkUrl: 60
                "
                alt="album art"
              ></lazy-img>
            </ion-thumbnail>
          </song-item>
        </div>
      </div>

      <div class="controls-wrapper">
        <ion-range
          step="1"
          min="0"
          [disabled]="
            state.playbackDuration === 0 ||
            state.playbackState === playbackStates.NONE ||
            state.playbackState === playbackStates.LOADING ||
            state.playbackState === playbackStates.ENDED ||
            state.playbackState === playbackStates.WAITING ||
            state.playbackState === playbackStates.STALLED
          "
          [max]="state.playbackDuration"
          [(ngModel)]="playbackTime"
          (click)="stopProp($event)"
          (ionKnobMoveStart)="pauseSeeking($event)"
          (ionKnobMoveEnd)="seekToTime($event)"
          color="white"
          aria-label="fullpage player control"
        >
          <ion-label inert class="duration-label" slot="start">{{
            playbackTime | secToMins
          }}</ion-label>
          <ion-label inert class="duration-label" slot="end"
            >-{{ state.playbackDuration - playbackTime | secToMins }}</ion-label
          >
        </ion-range>

        <ion-buttons class="song-actions">
          <ion-button
            class="shuffle-button"
            color="white"
            [ngClass]="{ active: state.isShuffling }"
            (click)="toggleShuffle(state.isShuffling)"
          >
            <ion-icon name="shuffle" slot="icon-only"></ion-icon>
          </ion-button>

          <ion-button
            shape="round"
            color="white"
            fill="clear"
            class="prev-button"
            (click)="prev($event)"
          >
            <ion-icon name="play-back" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button
            shape="round"
            color="white"
            fill="clear"
            (click)="togglePlay($event)"
          >
            <ion-spinner
              color="white"
              *ngIf="
                state.playbackState === playbackStates.LOADING ||
                  state.playbackState === playbackStates.ENDED ||
                  state.playbackState === playbackStates.WAITING ||
                  state.playbackState === playbackStates.STALLED;
                else buttonTemplate
              "
            ></ion-spinner>
            <ng-template #buttonTemplate>
              <ion-icon
                [name]="
                  state.playbackState === playbackStates.PLAYING
                    ? 'pause'
                    : 'play'
                "
                slot="icon-only"
              ></ion-icon>
            </ng-template>
          </ion-button>
          <ion-button
            shape="round"
            color="white"
            fill="clear"
            (click)="next($event)"
          >
            <ion-icon name="play-forward" slot="icon-only"></ion-icon>
          </ion-button>

          <ion-button
            class="repeat-button"
            color="white"
            [ngClass]="{ active: state.repeatMode !== repeatMode.NONE }"
            (click)="toggleRepeatMode()"
          >
            <ion-icon name="repeat"></ion-icon>
            <ion-badge *ngIf="state.repeatMode === repeatMode.ONE">1</ion-badge>
          </ion-button>
        </ion-buttons>
      </div>
    </div>

    <div class="player-queue-landscape" *rxLet="queue$; let queue">
      <h1><ion-text color="white">Playing Next</ion-text></h1>
      <div
        class="queue-scroller"
        (pointerdown)="$event.stopPropagation(); $event.preventDefault()"
        [@listAnimation]="queue.length"
      >
        <song-item
          color="white"
          *ngFor="let song of queue; let i = index"
          [song]="song"
          (click)="playAtIndex($event, song)"
        >
          <ion-thumbnail slot="start">
            <lazy-img
              [src]="
                song.attributes.artwork?.url ?? 'assets/imgs/default.svg'
                  | formatArtworkUrl: 60
              "
              alt="album art"
            ></lazy-img>
          </ion-thumbnail>
        </song-item>
      </div>
    </div>


  </div>
  <ion-footer>
    <ion-toolbar color="transparent">
      <ion-buttons slot="end">
        <ion-button
          color="white"
          (click)="toggleQueue()"
          [ngClass]="{
            active: showQueue
          }"
        >
          <ion-icon name="list"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
  <background-glow
    [src]="
      state.nowPlayingItem.attributes.artwork?.url ?? 'assets/imgs/default.svg'
        | formatArtworkUrl: 250
    "
  ></background-glow>
</div>
