ion-header {
  ion-toolbar {
    padding-top: max(var(--ion-safe-area-top), 16px);
  }
  &:hover {
    cursor: pointer;
  }
  .dismisser {
    margin: auto;
    // margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    height: 6px;
    width: 36px;
    background: #eae9e947;
  }
}
ion-footer {
  border-top: none;
  box-shadow: none;
  &::before {
    content: none;
  }

  ion-toolbar {
    --border-width: 0;
    @media (orientation: landscape) {
      --padding-start: calc(env(safe-area-inset-left) + 24px);
      --padding-end: calc(env(safe-area-inset-left) + 24px);
    }
    @media (orientation: portrait) {
      margin: auto;
      max-width: 85%;
      --padding-start: unset;
      --padding-end: unset;
    }
  }
}

ion-content {
  --padding-bottom: 0;
  --background: none;
  &::part(scroll) {
    bottom: 0;

    // height: 100%;
    padding: 0;
    margin: 0;
  }
}

.track-wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  // padding: 20px;
}
.track-player {
  height: 100%;
  width: 85%;
  // max-width: 500px;
  margin: auto;
  z-index: 1;

  display: grid;
  grid-template-rows: 70% 30%;
  grid-template-areas:
    'now-playing'
    'controls';

  .song-info {
    // overflow: hidden;
    transform-origin: center center;
    width: 100%;
    grid-area: now-playing;
    z-index: 1;

    display: grid;
    grid-template-rows: calc(100% - 75px) 75px;
    grid-template-areas: 'artwork' 'title';

    margin-left: auto;
    margin-right: auto;

    ion-thumbnail {
      margin: 0 auto;
      --thumbnail-transition-duration: 500ms;
      align-self: center;

      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      now-playing-artwork {
        flex: 1;
        aspect-ratio: 1;

        max-width: 500px;
        max-height: 500px;
        width: auto;
        height: auto;

        &.paused {
          --scale-value: .75;
          // transform: scale3d(1, 1, 1);
        }
      }
    }

    ion-label {
      padding: 16px 0;
      display: block;
      width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: space-between;

      * {
        line-height: 1.2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      h3 {
        font-size: 1.1em;
        font-weight: 600;
      }
      p {
        font-size: 1em;
        opacity: 0.5;
      }
    }
  }
  queue-list {
    margin-left: auto;
    margin-right: auto;

    grid-area: queue;
    display: none;
    view-transition-name: queue;
  }

  .controls-wrapper {
    width: 100%;
    grid-area: controls;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;

    ion-range {
      margin-top: auto;
      width: 100%;
      margin: 0 auto;
      padding: 0;

      .duration-label {
        width: unset;
        display: unset;
        position: absolute;
        bottom: -15px;
        font-size: 0.75em;
        font-variant-numeric: tabular-nums;
        color: #ffffff;
        &[slot='start'] {
          left: 0;
          text-align: left;
        }

        &[slot='end'] {
          right: 0;
          text-align: right;
        }
      }
    }
  }
}

ion-badge {
  font-size: 8px;
  position: absolute;
  background: none;
  color: var(--ion-color-step-500) !important;
}

.song-actions {
  flex: initial;
  justify-content: space-evenly;
  height: 56px;
  ion-button {
    width: 70px;
    aspect-ratio: 1/1;
    height: unset;

    ion-icon {
      font-size: 48px;
    }
  }
}

@media (min-width: 320px) {
  .song-actions .shuffle-button,
  .song-actions .repeat-button {
    display: none;
  }
}
@media (min-width: 600px) {
  .song-actions .shuffle-button,
  .song-actions .repeat-button {
    display: unset;
  }

  queue-list .toggle-buttons {
    display: none;
  }
}

.song-actions .shuffle-button,
.song-actions .repeat-button {
  width: 40px;
  ion-icon {
    font-size: 40px;
  }

  ion-badge {
    top: 5px;
    right: -6px;
  }
}

ion-button {
  border-radius: 8px;
  overflow: hidden;
}

ion-button.active {
  background-color: #ffffffcc;
  ion-icon {
    color: var(--ion-color-step-500) !important;
  }
}

.track-wrapper.track-wrapper.queue-active {
  queue-list {
    display: unset;
  }
}

@media (orientation: portrait) {
  .track-wrapper {
    .song-info {
      now-playing-artwork {
        view-transition-name: thumbnail;
      }
      ion-label {
        view-transition-name: label;
      }
    }
  }
  .track-wrapper.animation-start {
    now-playing-artwork {
      --thumbnail-transition-duration: 0ms !important;
    }
  }
  .track-wrapper.queue-active {
    .track-player {
      grid-template-rows: 20% 50% 30%;
      grid-template-areas:
        'now-playing'
        'queue'
        'controls';
    }
    .song-info {
      gap: 0 20px;
      align-items: center;
      grid-template-columns: 18% 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'artwork title';

      now-playing-artwork {
          --scale-value: 1 !important;
      }
    }
    queue-list {
      ion-badge {
        top: 3px;
        right: -7px;
      }
    }
  }
}
@media (orientation: landscape) {
  .track-player {
    width: 100%;
    max-width: unset;
    grid-template-columns: 1fr minmax(45%, 500px) 1fr;
    grid-template-areas:
      '. now-playing .'
      '. controls .';

    .song-info {
      view-transition-name: song-info;
    }
    .controls-wrapper {
      view-transition-name: controls;
    }
    .song-info,
    .controls-wrapper {
      width: 85%;
      max-width: 500px;
    }
  }

  .track-wrapper.queue-active {
    .track-player {
      grid-template-columns: minmax(45%, 500px) auto;
      grid-template-areas:
        'now-playing queue'
        'controls    queue';
    }
  }
}
