<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Browse</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openModal()">
        <ion-icon name="help-circle" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar class="transparent">
      <ion-title size="large">Browse</ion-title>
    </ion-toolbar>
  </ion-header>
  <ng-container *ngrxLet="state$ as state">

    <error-emoji
      *ngIf="state.hasError"
      class="ion-padding ion-text-center"
    ></error-emoji>

    <div class="ion-padding ion-text-center" *ngIf="state.isLoading">
      <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="state.collection as chart">
      <ion-list>
        <ion-grid fixed="true" class="ion-no-padding">
          <ion-list-header> <h1>Top Albums</h1> </ion-list-header>
          <ion-row class="ion-justify-content-start">
            <ion-col
              size-lg="4"
              size-xl="3"
              *ngFor="let album of chart.topAlbums; let i = index"
              class="ion-no-padding"
            >
              <album-preview-item
                [album]="album"
                [index]="i"
                [routerLink]="['/album', album.id]"
                [state]="{collection: album}"
              ></album-preview-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
      <ion-list>
        <ion-grid fixed="true" class="ion-no-padding">
          <ion-list-header> <h1>Top Playlists</h1> </ion-list-header>
          <ion-row>
            <ion-col
              size-lg="4"
              size-xl="3"
              *ngFor="let playlist of chart.topPlaylists; let i = index"
              class="ion-no-padding"
            >
              <album-preview-item
                [album]="playlist"
                [index]="i"
                routerLink="/playlist/{{playlist.id}}"
                [state]="playlist"
              ></album-preview-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
      <ion-list>
        <ion-grid fixed="true" class="ion-no-padding">
          <ion-list-header> <h1>Top Songs</h1> </ion-list-header>
          <song-item
            *ngFor="let song of chart.topSongs; let i = index"
            [song]="song"
            [index]="i"
            (click)="playSong(i)"
          >
          </song-item>
        </ion-grid>
      </ion-list>
    </div>
  </ng-container>
</ion-content>
