h1 {
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
ion-list-header {
  padding-left: 16px;
}
.album-grid {
  display: grid;
  grid-auto-flow: column dense;
  grid-template-rows: auto auto;
  grid-gap: 16px 32px;
  padding: 16px;
  justify-content: left;
  overflow-x: scroll;
  width: 100%;
  &::after {
    content: '';
    width: 1px;
    margin-right: -1px;
  }

}
.song-grid {
  overflow-x: scroll;
  display: grid;
  grid-auto-flow: column dense;
  grid-template-rows: auto auto auto auto;
  grid-gap: 16px;
  padding: 16px;
  justify-content: left;
  &::after {
    content: '';
    width: 1px;
    margin-right: -1px;
  }

  song-item {
    width: 350px;
  }
}
