<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Browse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar class="transparent">
      <ion-title size="large">Browse</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *rxLet="state$; let state;">
    <ng-container *ngIf="state.collection as chart">
      <ion-list>
        <ion-list-header>
          <h1>Top Albums</h1>
        </ion-list-header>
        <div class="album-grid">
          <album-preview-item
            *ngFor="let album of chart.topAlbums; let i = index"
            [album]="album"
            [index]="i"
            [routerLink]="['/album', album.id]"
          >
            <lazy-img
              [src]="album.attributes.artwork.url | formatArtworkUrl: 200"
              lazyParent="album-grid"
              [style.background]="'#' + album.attributes.artwork.bgColor + 'aa'"
              alt="Album Artwork"
            ></lazy-img>
          </album-preview-item>
        </div>
      </ion-list>

      <ion-list>
        <ion-list-header>
          <h1>Top Playlists</h1>
        </ion-list-header>
        <div class="album-grid">
          <album-preview-item
            *ngFor="let playlist of chart.topPlaylists; let i = index"
            [album]="playlist"
            [index]="i"
            [routerLink]="['/playlist', playlist.id]"
          >
            <lazy-img
              [src]="playlist.attributes.artwork.url | formatArtworkUrl: 200"
              lazyParent="album-grid"
              [style.background]="'#' + playlist.attributes.artwork.bgColor + 'aa'"
              alt="Album Artwork"
            ></lazy-img>
          </album-preview-item>
        </div>
      </ion-list>

      <ion-list>
        <ion-list-header>
          <h1>Top Songs</h1>
        </ion-list-header>
        <div class="song-grid">
          <song-item
            *ngFor="let song of chart.topSongs; let i = index"
            [song]="song"
            (click)="playSong(i)"
          >
            <ion-thumbnail slot="start">
              <lazy-img
                lazyParent="song-grid"
                [src]="song.attributes.artwork.url | formatArtworkUrl: 60"
                alt=""
              ></lazy-img>
            </ion-thumbnail>
          </song-item>
        </div>
      </ion-list>
    </ng-container>

    <ng-container *ngIf="state.hasError">
      <h1>Error</h1>
      <error-emoji class="ion-padding ion-text-center"></error-emoji>
    </ng-container>

    <ng-container *ngIf="state.isLoading">
      <ion-list>
        <ion-list-header>
          <h1>Top Albums</h1>
        </ion-list-header>
        <div class="album-grid">
          <album-preview-item *ngFor="let album of [].constructor(20)">
            <lazy-img></lazy-img>
          </album-preview-item>
        </div>
      </ion-list>
      <ion-list>
        <ion-list-header>
          <h1>Top Playlists</h1>
        </ion-list-header>
        <div class="album-grid">
          <album-preview-item *ngFor="let album of [].constructor(20)">
            <lazy-img></lazy-img>
          </album-preview-item>
        </div>
      </ion-list>
      <ion-list>
        <ion-list-header>
          <h1>Top Songs</h1>
        </ion-list-header>
        <div class="song-grid">
          <song-item *ngFor="let song of [].constructor(20)">
            <ion-thumbnail slot="start">
              <lazy-img></lazy-img>
            </ion-thumbnail>
          </song-item>
        </div>
      </ion-list>
    </ng-container>
  </ng-container>
</ion-content>

<!-- <error-emoji class="ion-padding ion-text-center"></error-emoji> -->

<!-- <ion-list>
    <ion-list-header>
      <h1>Top Albums</h1>
    </ion-list-header>
    <div class="album-grid">
      <album-preview-item
        *ngFor="let album of [].constructor(20)"
      ></album-preview-item>
    </div>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <h1>Top Playlists</h1>
    </ion-list-header>
    <div class="album-grid">
      <album-preview-item
        *ngFor="let album of [].constructor(20)"
      ></album-preview-item>
    </div>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <h1>Top Songs</h1>
    </ion-list-header>
    <div class="song-grid">
      <song-item *ngFor="let song of [].constructor(20)">
        <ion-thumbnail slot="start">
          <lazy-img></lazy-img>
        </ion-thumbnail>
      </song-item>
    </div>
  </ion-list> -->
