h1 {
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
ion-list-header {
  padding-left: 16px;
}

album-preview-item {
  width: 162px;
  ion-card: {
    width: 162px;
    height: 162px;
  }
}
.album-grid {
  display: grid;
  grid-auto-flow: column dense;
  grid-template-rows: auto auto;
  grid-gap: 16px 32px;
  padding: 16px;
  justify-content: left;
  overflow-x: scroll;
  width: 100%;
  // scroll-snap-type: x mandatory;
  &::after {
    content: '';
    width: 1px;
    margin-right: -1px;
  }
  // album-preview-item {
  //   scroll-snap-align: start start;
  //   padding: 0px 16px;
  // }
}
.song-grid {
  overflow-x: scroll;
  display: grid;
  grid-auto-flow: column dense;
  grid-template-rows: auto auto auto auto;
  grid-gap: 16px;
  padding: 16px;
  justify-content: left;
  // scroll-snap-type: x mandatory;
  &::after {
    content: '';
    width: 1px;
    margin-right: -1px;
  }

  song-item {
    width: 350px;
    // scroll-snap-align: start start;
  }
}
